@import "../styleConstants.scss";

.linkBox {
  display: flex;
  padding: 25px;
  justify-content: center;
  gap: 20px;
}

.buttonBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  gap: 15px;
}

.link {
  color: rgb(0, 0, 140);
  text-decoration: underline 2px;
  font-size: calc(15px + 0.3vw);
  text-align: center;
  transition: 1s;
}

.button {
  @extend .link;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: 100px;
  font-size: 22px;
  height: 40px;
  padding: 0 20px;
  background-color: rgb(161, 204, 180);
  border-radius: 5px;
  transition: 0.5s;
}

.buttonPressed {
  @extend .button;
  background-color: rgb(58, 154, 114);
}

.link:hover {
  transition: 1s;
  font-size: calc(15px + 0.4vw);
  cursor: pointer;
}

.button:hover {
  transition: 1s;
  font-size: 26px;
  cursor: pointer;
}

.blockContainer {
  margin-bottom: 20px;
  border: black 2px solid;
  border-left: black 4px solid;
  box-sizing: border-box;
  // background-color: rgba(90, 90, 90, 0.5);
  background-color: rgb(160, 187, 175);
  overflow-wrap: break-word;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
}

.blockTitle {
  font-size: 25px;
  margin-top: 10px;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}

.blockTitle:visited {
  color: blue;
}

.blockText {
  font-size: 20px;
  margin: 5px 0 20px 0;
  min-height: 0;
  font-weight: 300;
}

.blockText img {
  max-height: 250px;
  max-width: 100%;
}

.pageTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  color: rgb(119, 119, 119);
  border-bottom: solid rgb(119, 119, 119) 3px;
  letter-spacing: -2px;
  margin: 5px 0 30px 0;
  font-family: "Marcellus SC", serif;
  line-height: 98%;
  text-transform: uppercase;
  font-weight: 400;
  mix-blend-mode: multiply;
}

.pageSubtitle:hover {
  font-size: 34px;
  transition: 1s;
}

.pageDescription {
  @extend .blockText;
  margin-bottom: 30px;
  max-width: 100%;
}

.paginationBox {
  display: flex;
  justify-content: center;
}

.dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

@media (max-width: $mobileWidth) {
  .buttonBox {
    display: block;
    columns: auto;
    column-count: 2;
  }

  .button {
    margin-bottom: 5px;
    break-inside: avoid;
  }

  .link {
    font-size: 5vw;
  }

  .link:hover {
    font-size: 5.5vw;
  }
}
