* {
  font-family: 'Hind Madurai', sans-serif;
  text-decoration-skip-ink: none;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Hind Madurai', 'Titillium Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
  width:100%;
  background: white;
}