.img {
  object-fit: cover;
  image-rendering: auto;
}

.img:hover {
  cursor: pointer;
}

.dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
}

.carouselBox {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 90vw;
}

.carouselMiddleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.carouselSidePanel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  justify-content: center;
  height: 700px;
}

.carouselSidePanelBox {
  align-items: start;
}

.carouselImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  padding: 20px;
}

.carouselImage {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.carouselDescription {
  border-top: solid white 2px;
  padding-top: 10px;
  margin-bottom: 20px;
  color: white;
  width: 400px;
}

.carouselText {
  font-size: 20px;
  z-index: 2;
  text-align: center;
}
