.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.footer b {
  font-weight: 500;
}

.footerComponent {
  font-size: 18px;
}

.img {
  min-width: 400px;
}
