.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.footer b {
  font-weight: 500;
}

.footerComponent {
  font-size: 18px;
}

.img {
  min-width: 400px;
}

.postBox {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.closeBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}
