@import "../../styleConstants.scss";

.root {
  margin: 0;
  padding: 0;
}

.grid {
  text-decoration: none;
  justify-content: center;
  display: grid;
  grid-template-columns: 20vw 15vw;
  min-height: 70vh;
  gap: 0.7vw;
}

.menuBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6vh;
  min-height: 500px;
  // min-width: 200px;
}

.pageSubtitle {
  display: flex;
  align-items: center;
  font-size: calc(35px + 0.1vw);
  letter-spacing: -2px;
  padding: calc(15px + 0.5vh) 0;
  text-decoration: underline 2px;
  transition: 1s;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--varSubtitle);
}

.blockSubblock {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgb(98, 113, 119);
  align-items: center;
  justify-content: center;
  text-justify: center;
  text-decoration: none;
  border: solid 2.5px black;
}

.blockSubblockText {
  position: absolute;
  font-weight: 400;
  font-size: calc(15px + 0.8vw);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black;
  transition: 1s;
  letter-spacing: -0.05vw;
}

.blockSubblockImage {
  width: 100%;
  height: 100%;
  background-position: center 50%;
  background-size: cover;
  filter: brightness(var(--varSubblockImageBrightness));
  transition: 1s;
}

.blockSubblock:hover .blockSubblockImage {
  transition: 1s;
  filter: brightness(1);
}

.blockSubblock:hover .blockSubblockText {
  transition: 1s;
  font-size: calc(15px + 1vw);
}

.blockSubblockWorld1Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/lore.webp");
}

.blockSubblockArt1Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/cg-paint-left.webp");
}

.blockSubblockArt2Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/cg-paint-right.webp");
}

.blockSubblockArt3Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/cg-graph1.webp");
}

.blockSubblockArt4Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/trad-graph.webp");
}

.blockSubblockArt5Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/stories.webp");
}

.blockSubblockArt6Image {
  @extend .blockSubblockImage;
  background-image: url("../../uiPictures/trad-paint.webp");
}

.middleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2.5px black;
  transition: ease 0.5s;
}

.middleBlockLight {
  @extend .middleBlock;
  background-image: url("../../uiPictures/hello-image-light.webp");
}

.middleBlockDark {
  @extend .middleBlock;
  background-image: url("../../uiPictures/hello-image-dark.webp");
}

.helloImage {
  display: flex;
  max-width: 30vw;
  max-height: 75vh;
}

.hugeLink {
  @extend .pageSubtitle;
  color: var(--varLinkColor);
  display: flex;
}

.hugeLink:hover {
  font-size: calc(35px + 0.2vw);
}

@media (max-width: $mobileWidth), (max-height: 500px) {
  .grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 0 10px;
  }

  .helloImage {
    height: 0px;
    opacity: 0;
  }

  .blockSubblockText {
    font-size: 5vw;
  }

  .blockSubblock:hover .blockSubblockText {
    font-size: 5.5vw;
  }

  .middleBlock {
    border: none;
  }
}

@media (max-width: $mobileWidth) {
  .pageSubtitle {
    font-size: 6vw;
    padding: 1vh 0;
  }

  .grid {
    grid-template-columns: 0 100%;
  }

  .middleBlock {
    border: none;
  }
}
