::-webkit-scrollbar {
  display: none;
}

@keyframes smooth-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Hind Madurai", sans-serif;
  text-decoration-skip-ink: none;
}

.wrapper {
  align-items: center;
  min-height: 100%;
}

.upButton {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 80px;
  padding: 20px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: calc(25px + 1vw);
  cursor: pointer;
}

.themeSwitcher {
  position: fixed;
  padding: 20px;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Hind Madurai",
    "Titillium Web", "Marcellus";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  background: radial-gradient(
    circle,
    rgba(107, 226, 183, 1) 0%,
    rgba(237, 255, 246, 1) 50%,
    rgba(253, 255, 253, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}
