@keyframes smooth-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Hind Madurai", sans-serif;
  text-decoration-skip-ink: none;
}

.wrapper {
  align-items: center;
  min-height: 90vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Hind Madurai",
    "Titillium Web", "Marcellus";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  background: radial-gradient(
    circle,
    rgba(107, 226, 183, 1) 0%,
    rgba(237, 255, 246, 1) 50%,
    rgba(253, 255, 253, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
