.root {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logoBox {
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  padding: 20px 0 40px 0;
}

.imageLogo {
  height: calc(max(35px + 2vw, 80px));
}

.textLogo {
  align-items: center;
  font-size: calc(35px + 1vw);
  font-weight: 400;
  letter-spacing: calc(-3px - 0.1vw);
  line-height: calc(25px + 1vw);
  margin: 0;
  padding: 0 5px;
  text-transform: uppercase;
  color: black;
}

@media (max-width: 500px) {
  .logoBox {
    padding: 20px 0;
  }
  .textLogo {
    font-size: 0;
    opacity: 0;
  }
}
