.blockContainer {
    margin-bottom:20px;
    border:black 2px solid;
    border-left:black 4px solid;
    box-sizing: border-box;
    background-color: rgba(90,90,90,.5);
    padding: 0 20px;
}

.blockTitle {
    font-size: 25px;
    margin-top: 10px;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

.blockText {
    font-size: 20px;
    margin: 5px 0 20px 0;
    max-width: 800px;
    min-height: 0;
    font-weight: 300;
}

.pageTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    color: rgb(119, 119, 119);
    border-bottom: solid rgb(119, 119, 119) 3px;
    letter-spacing: -2px;
    margin: 5px 0 25px 0;
    font-family: 'Marcellus SC', serif;
    line-height: 98%;
    text-transform: uppercase;
    font-weight: 400;
    mix-blend-mode: multiply;
}

.pageSubtitle {
    @extend .pageTitle;
    border: none;
    font-size: 32px;
    letter-spacing: -2px;
    padding-top: 15px;
    color: rgb(85, 85, 85);
    text-decoration: underline 2px;
    min-height: 40px;
    transition:1s;
}

.pageSubtitle:hover {
    font-size: 34px;
    transition:1s;
}

.pageDescription{
    @extend .blockText;
    margin-bottom: 30px;
}